.lb_favorite_container {
	display:block;
	width:100%;
	margin:10px 0;
}
	.lb_favorite_container a {
		font-size:1rem;
	}
		.lb_favorite_container a:hover {
			text-decoration:none;
		}
	.lb_favorite_container a i {
		color:gray;
		font-size: 1.8rem;
		vertical-align: middle;
	}
	.lb_favorite_container a:hover i,
	.lb_favorite_container a.active i {
		color:#f1c40f;
	}
